body { font-family: Arial, Helvetica, sans-serif; color:#567676; font-weight : normal; font-size:80%; background-color: #008738; background-image:url('images/base.gif'); background-position:left top; background-repeat:no-repeat;  margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;}

.bold{ font-weight:bold; font-size:95%}
.darkbold{ color:#333; font-weight:bold; font-size:95%}
.dark{ color:#333; font-size:95%}
.whitebold{ color:#FFF; font-weight:bold; font-size:95%}
.miniwhite{ color:#FFF; font-weight:bold; font-size:75%}
.minidark{ color:#333; font-weight:bold; font-size:75%}
.italic{ color:#0092c5; font-style:italic; font-weight:bold; font-size:95%}
.autoclr:after { clear: both; height: 0; content: "."; display: block; visibility: hidden;}
.titolomini{ font-weight:bold; font-size:90%; color:#CC0000; font-family: Verdana, Arial, Helvetica, sans-serif;}
.titolo{ font-weight:bold; color:#CC0000; font-size:120%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.titoloblu{ font-weight:bold; color:#0b2675; font-size:120%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.supertitolo{ font-weight:bold; color:#0b2675; font-size:200%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.data{ font-size:80%; color:#333; font-family: Verdana, Arial, Helvetica, sans-serif;}


img.dx{ float:right; padding-top:4px;}
/*img{ float:left; padding-top:8px; padding-bottom:8px; padding-right:16px}*/

img{ padding-top:8px; padding-bottom:8px; padding-right:16px}
img.dxdx{float:right; padding-right:8px}
img.no{ float:left; padding-top:0px; padding-bottom:8px; padding-right:16px}
img.offerta{ float:left; padding-top:0px; padding-bottom:0px; padding-right:0px; padding-left:132px}
img.iata{ float:right; vertical-align:top}
img.elenco{ padding:0 0 0 0}
img.slide{ float:none; padding-top:0px; padding-bottom:0px; padding-right:0px;}

/* DIV */
div#utilities { width: 960px; height:24px; position:relative; margin-left:auto; margin-right:auto; text-align:right}
div#under { width: 580px; height:auto; position:relative; margin-left:auto; margin-right:auto; text-align:center; margin-top:200px}
div#top { width: 992px; height:244px; position:relative; margin-left:auto; margin-right:auto; background-image:url('images/topshadow.png'); background-repeat:no-repeat; background-position:center bottom }
div#topContentSx { height:246px; width:992px; padding-top:0px; padding-left:0px; background-image:url('../images/overlogo.png'); background-repeat:no-repeat; background-position:right 8px }
div#bannerSx { width: 728px; height:286px; margin-left:16px; float:left}
div#bannerDx { width: 232px; height:286px; margin-right:16px; float:right; background-image:url('../images/BaseDx.gif'); background-repeat:no-repeat; background-position:center bottom}
div#sottomenu { width: 900px; height:6px; margin-left:auto; margin-right:auto; color:#008738; font-weight:bold}
div#main { width: 992px; height:auto; position:relative; margin-left:auto; margin-right:auto; background-image:url('images/mainshadow.png'); background-repeat:repeat-y }
div#mainContent { width: 992px; height:auto; min-height:440px; position:relative; margin-left:auto; margin-right:auto;}
div#mainContentDx { width: 340px; height:auto; position:relative; padding-top:20px; padding-right:16px; float:right}
div#mainContentSx { width: 726px; height:auto; position:relative; padding-top:20px; padding-left:40px; float:left}
div#mainContentSxSx { width: 96px; height:auto; position:relative; float:left}
div#mainContentDxDx { width: 80px; height:auto; position:relative; padding-top:10px; padding-right:28px; float:right; text-align:right}
div#bottom { width: 992px; height:90px; position:relative; margin-left:auto; margin-right:auto; background-image:url('images/bottomshadow.png'); background-repeat:no-repeat }
div#mainTop { width: 920px; height:90px; position:relative; margin-left:auto; margin-right:auto; padding-top:20px;}
div#mainElenco { width: 920px; position:relative; margin-left:auto; margin-right:auto; padding-top:20px}
div#mainContent2 { width: 992px; height:860px; min-height:440px; position:relative; margin-left:auto; margin-right:auto;}
div#main3 { width: 992px; height:860px; position:relative; margin-left:auto; margin-right:auto; background-image:url('images/mainshadow.png'); background-repeat:repeat-y }
div#mainContent3 { width: 992px; height:860px; position:relative; margin-left:auto; margin-right:auto;}

div#modulo { width: 920px; position:relative; margin-left:auto; margin-right:auto; background-color:#008738;}

div#moduloSx { width: 166px; float:left; color:#FFF; font-size:120%; font-weight:bold; padding-left:12px; padding-top:12px}
div#moduloDx { width: 720px; background-color:#CFCFCF; float:right; padding-top:12px; padding-left:12px}

.space { width: 320px; height:16px;}
.l320 { width: 288px; height:auto; background-color:#DFDFDF; padding:16px; font-size:90% }
.l320Celeste { width: 288px; height:auto; background-color:#9cc4e4; padding-left:16px; padding-right:16px; padding-top:8px; padding-bottom:8px;}
.l320CelesteChiaro { width: 288px; height:auto; background-color:#d9edf1; padding:16px; }
.l320shadow { width: 320px; height:9px; background-image:url('images/shadow320.png');background-repeat:no-repeat}
.testomini { padding-top:8px; color:#666; font-size:85%; margin-bottom:4px;}
.testo { padding-top:8px; font-size:95%; text-align:justify; margin-bottom:16px;}
.linea { border-bottom:1px #008738 dashed; padding-left:120px; padding-top:4px; margin-bottom:4px}
.lineag { border-bottom:1px #AAA dashed; padding-left:120px; padding-bottom:2px}

.testomax_bianco{ padding-top:18px; padding-left:16px; color:#FFF; font-size:130%; font-weight:bold; margin-bottom:0px;}
.testo_bianco{ padding-left:16px; color:#FFF; font-size:80%; font-weight:bold; margin-bottom:4px;}
.inner_dx{ padding-left:16px; margin-bottom:0px; margin-top:12px;}
.inner_dx2{ padding-left:16px; margin-bottom:0px; margin-top:0px;}
.titolo_offerta{color:#0b2675; font-size:180%; font-weight:bold; padding-top:10px}
.sottotitolo_offerta{color:#FFF; font-size:180%; font-weight:bold; padding-top:10px}
.titolo_link{color:#0b2675; font-size:100%; font-weight:bold; padding-top:10px}
.offerta{ float:left; padding-top:12px; padding-bottom:0px; padding-right:0px; padding-left:140px}

.mediaSx{ float:left; width:420px; height:814px; background-color:#DFDFDF; padding-left:6px; padding-top:6px}
.mediaDx{ float:right; width:420px; height:420px;}

.style1 {
	font-size: xx-small;
}

/* TABLE */

table.elenco { width:100%; background-color:#CFCFCF}
tr.pari { background-color:#008738}
tr.dispari { background-color:#ffe401}
table.standardFormTable { width: 680px; padding: 0; margin: 0; border: 0; background-color:#E4E4E4}
td.w100 { width: 100%;}
td.spazio { height:16px; }
td.w34blu { width: 34%; height:16px; background-color:#0b678f; color:#FFF; font-weight:bold; font-size:85%}
td.w66blu { width: 66%; height:16px; background-color:#0b678f; color:#FFF; font-weight:bold; font-size:85%}
td.w34 { width: 34%; height:20px; font-weight:bold; font-size:75%}
td.w66 { width: 66%; height:20px; font-weight:bold; font-size:75%}
td.w34grigio { width: 34%; height:20px; background-color:#E2E2E2; font-weight:bold; font-size:75%}
td.w66grigio { width: 66%; height:20px; background-color:#E2E2E2; font-weight:bold; font-size:75%}
td.formSx { width: 20%; color:#4d443c; font-weight:bold; font-size:75%; text-transform:uppercase}
td.formMx { width: 2%;}
td.formDx { width: 78%;}

td.datiUtenteEtichetta { width:160px; text-align:right; color:#505050; font-size:85%; font-weight:bold}


/* LINK */
a img { border:none }

a { text-decoration:none !important }

a.social { padding-right:8px;}

a.big { padding-right:8px; padding-left:10px; font-size:150%; background-color:#EEE; color:#009EE0}

a.pages {color:#FFF; font-size:90%; height:20px; width:24px; margin-right:1px; text-align:center; display:inline-block; background-image:url('images/num_off.png'); background-repeat:no-repeat } 
a.pages:hover {color:#FFF; height:20px; width:24px; display:inline-block; background-image:url('images/num_on.png'); background-repeat:no-repeat } 
a.pagesOn {color:#FFF; font-size:90%; height:20px; width:24px; margin-right:1px; text-align:center; display:inline-block; background-image:url('images/num_on.png'); background-repeat:no-repeat } 

a.menu {color:#333; padding-top:8px; font-size:90%; font-weight:bold; font-family: Arial, Helvetica, sans-serif; display:inline-block; padding-left:20px; padding-right:20px; height:32px;} 
a.menu:hover {color:#FFF; display:inline-block; background-image:url('images/basemenu_on.png'); background-repeat:repeat-x} 
a.menuOn {color:#FFF; padding-top:8px; font-size:90%; font-weight:bold; font-family: Arial, Helvetica, sans-serif; display:inline-block; padding-left:20px; padding-right:20px; height:32px; background-image:url('images/basemenu.png'); background-repeat:repeat-x} 

a.bigW { font-size:140%; font-weight:bold; color:#FFF}
a.bigW:hover { color:#FFE401}

/* FORM */

.red { color:#CC0000; font-size:80%; }

.EditBox {
    BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 1px solid; BORDER-LEFT: #BBBBBB 1px solid; BORDER-BOTTOM: #BBBBBB 1px solid;
	font-size: 11px; background: #F9F9F9; height: 16px; color: #505050;  margin: 0 0 0 0 px; padding-top:4px}

.EditBoxRed {
    BORDER-RIGHT: #CC0000 1px solid; BORDER-TOP: #CC0000 1px solid; BORDER-LEFT: #CC0000 1px solid; BORDER-BOTTOM: #CC0000 1px solid;
	font-size: 11px; background: #F9F9F9; height: 16px; color: #505050;  margin: 0 0 0 0 px; padding-top:4px}

	
.EditSelect {
    BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 1px solid; BORDER-LEFT: #BBBBBB 1px solid; BORDER-BOTTOM: #BBBBBB 1px solid;
	 font-family:Verdana; font-size: 11px; background: #F9F9F9; height: 20px; color: #505050;  margin: 0 0 2 0 px; padding-bottom:0px; }	

.EditMiniSelect {
    BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 1px solid; BORDER-LEFT: #BBBBBB 1px solid; BORDER-BOTTOM: #BBBBBB 1px solid;
	 font-family:Verdana; font-size: 10px; background: #F9F9F9; height: 22px; color: #505050;  margin: 0 0 2 0 px; padding-bottom:0px;}	

	 
.EditOption {
    BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 1px solid; BORDER-LEFT: #BBBBBB 1px solid; BORDER-BOTTOM: #BBBBBB 1px solid;
	 font-family:Verdana; font-size: 11px; background: #F9F9F9; height: 20px; color: #505050;  margin: 0 0 0 0 px; padding-bottom:0px;}		 
	 
.EditArea {
    BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 1px solid; BORDER-LEFT: #BBBBBB 1px solid; BORDER-BOTTOM: #BBBBBB 1px solid;
	font-size:11px; background: #F9F9F9; padding: 1px; color: #505050;}

.EditButton {
    BORDER-RIGHT: #AAAAAA 1px solid; BORDER-TOP: #EEEEEE 1px solid; BORDER-LEFT: #EEEEEE 1px solid; BORDER-BOTTOM: #AAAAAA 1px solid;
	font-size:11pt; background: #CCCCCC; padding-top: 1px; padding-bottom:4px; height: 32px; color: #4d443c; font-weight:bold }

